name: 'Build and test action'
description: 'Build and test something'
inputs:
  pom-file:
    description: 'pom file path'
    default: 'pom.xml'
    required: false
  bt-param: # id of input
    description: 'Build and test params'
    required: true
  artifact-name: # id of input
    description: 'Artifact name'
    required: true
  module-name: # id of module
      description: 'module namespace'
      required: true
  version:
    description: 'version number'
    required: true
runs:
  using: "composite"
  steps:
    - name: Set up JDK 11
      uses: actions/setup-java@v3.1.1
      with:
        distribution: zulu
        java-version: 11
        cache: maven 
    - name: Update configuration
      shell: pwsh
      run: |     
            $filePathToTask = "./${{inputs.module-name}}/config.xml"
            $xml = New-Object XML
            $xml.Load($filePathToTask)
            $element =  $xml.SelectSingleNode("//configuration/AppiumCapsMaqs/accessKey")
            if($element)
            {
              $element.InnerText = "${{env.SAUCE}}"
              $xml.Save($filePathToTask)
            }
    - name: Restore Local Maven Cache
      uses: actions/cache@v2.1.6
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{inputs.version}}.${{github.run_number}}
        restore-keys: |
            ${{ runner.os }}-maven-${{inputs.version}}
    - name: Start Test Dependencies
      id: test-dependencies
      uses: ./.github/workflows/startdeps-action
      with:
        module-name: ${{inputs.module-name}}
     
     #### TESTING
    - name: Compile
      shell: bash
      run: |
        xvfb-run mvn compile -Drevision=${{inputs.version}} -f ./${{inputs.pom-file}}
        npm install
        npx playwright install
    ##### Testing
         
    - name: Run Unit Tests
      shell: bash
      run: xvfb-run mvn test -Drevision=${{inputs.version}} -f ./${{inputs.module-name}}/${{inputs.pom-file}} ${{ inputs.bt-param }}
    - id: random-number-generator
      run: echo "::set-output name=random-id::123"
      shell: bash
