<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <GlobalMaqs>
        <!-- Generic wait time in milliseconds - AKA how long do you wait for rechecking something -->
        <WaitTime>100</WaitTime>

        <!-- Generic time-out in milliseconds -->
        <Timeout>500</Timeout>

        <!-- Do you want to create logs for your tests
        <Log>YES</Log>
        <Log>NO</Log>
        <Log>OnFail</Log>-->
        <Log>OnFail</Log>

        <!--Logging Levels
        <LogLevel>VERBOSE</LogLevel>
        <LogLevel>INFORMATION</LogLevel>
        <LogLevel>GENERIC</LogLevel>
        <LogLevel>SUCCESS</LogLevel>
        <LogLevel>WARNING</LogLevel>
        <LogLevel>ERROR</LogLevel>-->
        <LogLevel>VERBOSE</LogLevel>

        <!-- Logging Types
        <LogType>CONSOLE</LogType>
        <LogType>TXT</LogType>
        <LogType>HTML</LogType>-->
        <LogType>TXT</LogType>

        <!-- Log file path - Defaults to build location if no value is defined -->
        <FileLoggerPath>target/logs</FileLoggerPath>

        <!-- CONFIG TEST VALUES -->
        <TestKey>testValue</TestKey>
        <Browser>FireFox</Browser>
        <RemoteBrowser>Chrome</RemoteBrowser>
        <Timeout>13.52</Timeout>
        <BrowserOverride>FireFox</BrowserOverride>
        <TimeoutOverride>13.52</TimeoutOverride>
        <DontBrowserOverride>FireFox</DontBrowserOverride>
        <DontTimeoutOverride>13.52</DontTimeoutOverride>
    </GlobalMaqs>

    <SeleniumMaqs>
        <!-- CONFIG TEST VALUES -->
        <TestKey>testValueTwo</TestKey>
        <Browser>Internet Explorer</Browser>
        <HubAddress>132.15.12</HubAddress>
    </SeleniumMaqs>
</configuration>