<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QATechTesting Test Suite" verbose="1" parallel="methods" thread-count="5" >
    <test name="Test-method test" group-by-instances="true">
        <classes>
            <class name="TestRunnerSelenium"/>
            <class name="TestRunnerGeneric"/>
        </classes>
    </test>
</suite>