name: Pull Request Pipeline

on:
  pull_request:
    branches: [ master ]

jobs:
  unit_tests:
    name: Unit Test Execution
    runs-on: ubuntu-latest
    strategy:
      matrix:
        #jdk: [8, 11, 13, 15]
         jdk: [11]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{matrix.jdk}}
        uses: actions/setup-java@v1
        with:
          java-version: 15
      - name: Restore Local Maven Cache
        uses: actions/cache@v2.1.6
        with:
          path: ~/.m2
          key: ${{runner.os}}-m2
      - name: Create settings file
        uses: InstaCode/maven-settings-xml-action@v9
        with:
          profiles: '[{ "id": "sonar", "properties": { "sonar.organization":"magenic", "sonar.host.url":"https://sonarcloud.io", "sonar.login": "${{secrets.SONAR_LOGIN}}" }}]'
      - name: Run Unit Tests
        uses: GabrielBB/xvfb-action@v1.4
        with:
          run: mvn -B -Dtesting verify package --file pom.xml -e -fae -T 1C -Djdk.version=${{matrix.jdk}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run SonarCloud Analysis
        run: mvn -Psonar -B sonar:sonar -e -f pom.xml -Dsonar.coverage.jacoco.xmlReportPaths="${{github.workspace}}/jmaqs-jacoco-reporting/target/site/jacoco-aggregate/jacoco.xml"
      - name: Publish Unit Test Results Report
        uses: scacap/action-surefire-report@v1
        if: ${{ always() }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_name: Unit Test Results
      - name: Upload Test Result Logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: Logs
          path: ./**/logs
  checkstyle:
    name: Checkstyle Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Restore Local Maven Cache
        uses: actions/cache@v2.1.6
        with:
          path: ~/.m2
          key: ${{runner.os}}-m2
      - name: Run Checkstyle
        run: mvn -B validate --file pom.xml -e -fae
  labels:
    name: Pull Request Labels
    runs-on: ubuntu-latest
    steps:
      - name: Label Pull Request
        uses: actions/labeler@v3
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
